body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto' ;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.logo {
    max-height: 100px;
    transform: rotate(90deg);
    margin-right: 265px;
}

header {
    background-color: #001e00;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.right-header {
    margin-left: 265px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}

.introduction {
    background-color: #001e00;
    color: #f9faf8; 
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    gap: 75px;
}

.left-introduction {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

a {
    color: white;
    background-color: #3a4c40;
    text-decoration: none;
    width: 100px;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
}

.right-introduction {
    display: flex;
}

.intro-img {
    width: 400px;
    border: solid #3a4c40;
}

.products {
    color: #001e000;
    display: flex;
    flex-direction: column;
}

.products.top {
    padding: 25px;
    align-items: center;
}

.products.bottom {
    padding-bottom: 75px;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.text {
    width: 150px;
    display: flex;
    align-items: center;
}

.plant-img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: solid #001e00;
}

.quote {
    background-color: #83998f;
    color: #001e00;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.quote.txt {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    align-items: center;
    padding-bottom: 0;
}

.quote.author {
    font-weight: 700;
    align-items: flex-end;
    padding-right: 179px;
    padding-top: 0;
}

.newsletter {
    background-color: #3a4c40;
    padding: 50px;
    margin: 75px 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsletter-sign {
    border: solid white;
    border-width: 2px;
    padding: 5px 30px;
}

.right-newsletter {
    color: white;
}

h3 {
    margin: 0px;
}

footer {
    background-color: #001e00;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

span {
    display: flex;
    align-items: center;
}