body {
    padding: 0;
    margin: 0;
}


.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
}

.logo {
    max-height: 100px;
    transform: rotate(90deg);
    margin-left: 35px;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.right-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.introduction {
    background-color: #1f2937;
    color: white; 
    display: flex;
}

.left-introduction {
    display: flex;
    flex-direction: column;
}

.right-introduction {
    display: flex;
}

.intro-img {
    width: 400px;
}